body {
  overflow-y: scroll;
  overflow-x: hidden;
}

nav {
  background-color: #191a1d;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  color: #8c8d8e;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  background-color: #191a1d;
  width: 100%;
  height: 56px;
  line-height: 56px;
}

main {
  padding-top: 60px;
  position: relative;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #212529;
}

::-webkit-scrollbar-thumb {
  background: #8c8d8e;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #8c8d8e;
}
.btn-add {
  padding: 0 6px;
}

.btn-remove {
  padding: 0 9px;
}

.rate-shadow {
  background: #f3f3f3;
  border-radius: 5px;
}

.swap-btn {
  padding: 3px;
}

.input {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  box-sizing: border-box;
}

.input:hover {
  border-color: #b3b3b3;

}

.input:focus {
  border-color: #2684ff;
  outline: 0;
  box-shadow: 0 0 0 1px #2684ff;
}

.input-required {
  position: absolute;
  border: 0;
  color: transparent;
  background-color: transparent;
  bottom: 1px;
  left: 50%;
  width: 0;
  height: 0;
  z-index: 0;
}

.input-required:focus {
  outline: none;
}

.reverse-btn {
  width: 40px;
}

.convert-btn {
  width: 100px;
}

.full-country-label {
  display: none;
}

@media (min-width: 768px) {
  .swap-btn {
    transform: rotate(90deg)
  }

  .header {
    text-align: end;
    padding-top: 100px;
  }
}

@media (min-width: 700px) {
  .full-country-label {
    display: inline;
  }
}